{{ define "main" }}
<section id="content" class="section">
    <article class="container">
        <header>
            <h1 class="title is-1">{{.Title}}</h1>
        </header>
        <div class="content">
            {{ .Content }}
        </div>
    </article>
</section>
<section class="section">
    <div class="container">
        <ul class="columns is-multiline">
            {{ range .Pages }}
            <li class="column">
                {{ partial "project-card" . }}
            </li>
            {{ end }}
        </ul>
    </div>
</section>
{{ end }}