{{ define "main" }}
<section id="content" class="section">
    <div class="section">
        <div class="level">
            <div class="level-left">
                <h1 class="title is-1">{{ .Title }}</h1>
            </div>
            <div class="level-right">
                <span class="level-item icon is-large">
                    <i class="devicon-{{ .Params.language }}-plain is-size-1"></i>
                </span>
                {{ with .Params.repository }}
                    {{ if hasPrefix . "https://github.com/"}}
                        {{ $repo := replace . "https://github.com/" "" }}
                    <img class="level-item" alt="GitHub" src="https://img.shields.io/github/license/{{ $repo }}.svg?style=for-the-badge">
                    <a class="level-item github-button" href="{{ . }}" data-show-count="true"
                        aria-label="Star {{ $repo }} on GitHub">Star</a>
                    {{ end }}
                {{ end }}
            </div>
        </div>
        <div class="level">
            <div class="level-left">
                {{ with .Params.website }}
                <a href="{{ . }}" target="_blank" class="level-item button is-link">Website</a>
                {{ end }}
                {{ with .Params.repository }}
                <a href="{{ . }}" target="_blank" class="level-item button is-link">Repository</a>
                {{ end }}
            </div>
        </div>
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</section>
{{ end }}