.wrapper {
    background: $background;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
a
p {
    color: $text;
}

hr {
    background-color: $white;
    height: 1.5px;
}
