// Base colors
$black: #222831;
$grey: #393e46;
$turquoise: #0f8e94;
$light-turquoise: #00adb5;
$white: #eeeeee;
$orange: orange;
$red: #ff470f;
$blue: #5780e8;
$green: #23d160;
$azul: #87cefa;

// Palette
$primary: $turquoise;
$info: $white;
$link: $blue;
$success: $green;
$warn: $orange;
$danger: $red;
$text: $white;
$background: $black;
$dark: $grey;
$text-strong: $white;
$link-hover: $azul;
$title-color: $white;

// Fonts
$family-sans-serif: "Source Code Pro";
