<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ .Site.Title }}</title>

<!-- OpenGraph -->
{{ template "_internal/opengraph.html" . }}

<!-- Twitter Cards -->
{{ template "_internal/twitter_cards.html" . }}

<!-- Stylesheets -->
{{- $opts := (dict "targetPath" "css/application.css" "outputStyle" "compressed" "includePaths" (slice "node_modules")) -}}
{{ $style := resources.Get "scss/main.scss" | resources.ToCSS $opts | resources.PostCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"  href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap">
<noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap">
</noscript>
{{- block "styles" . }}{{- end }}

<!-- JS -->
{{ $navbar := resources.Get "js/navbar.js" }}
{{ $js := slice $navbar | resources.Concat "js/application.js" }}
{{ if not .Site.IsServer }}
{{ $js = $js | minify | fingerprint}}
{{ end }}
<script src="{{ $js.Permalink }}" defer></script>
<script src="https://buttons.github.io/buttons.js" defer></script>
{{- block "scripts" . }}{{- end }}

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | absURL }}" />

<!-- PWA -->
<link rel='manifest' href='/manifest.json'>
