<div class="card card-flex has-background-dark">
    {{ $permalink := .Permalink }}
    {{ with .Params.images }}
        {{ $img := index . 0}}
        <div class="card-image">
            <a href="{{ $permalink }}">
                <figure class="image is-16by9">
                    <img src="{{ $img }}" alt="Placeholder image">
                </figure>
            </a>
        </div>
    {{ end }}
    <header class="card-header">
        <a href="{{ $permalink }}" class="card-header-title">
            {{.Title}}
        </a>
        <span class="icon is-large">
            <i class="devicon-{{ .Params.language }}-plain is-size-4"></i>
        </span>
        {{ with .Params.repository }}
        <div class="card-header-icon">
            <a class="github-button" href="{{ . }}" data-show-count="true"
                aria-label="Star matteojoliveau/convomark on GitHub">Star</a>
        </div>
        {{ end }}
    </header>
    <div class="card-content card-flex-content">
        <div class="tags">
            {{ range .Params.tags }}
            <span class="tag is-primary">{{ . }}</span>
            {{ end }}
        </div>
        <p class="content">{{ .Params.description }}</p>
    </div>
    <footer class="card-footer">
        <a href="{{ $permalink }}" class="card-footer-item">More</a>
        {{ with .Params.website }}<a href="{{ . }}" class="card-footer-item">Website</a>{{ end }}
        {{ with .Params.repository }}<a href="{{ . }}" class="card-footer-item">Repository</a>{{end}}
    </footer>
</div>