{{ define "main" }}
<div class="hero is-fullheight-with-navbar is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Matteo Joliveau
            </h1>
            <h2 class="subtitle is-2">
                Solution Architect & Cloud Enthusiast
            </h2>
        </div>
    </div>

    <div class="level is-mobile" style="padding-bottom: 25px;">
        <a class="level-item icon is-large is-size-3 pulsate-fwd is-white" href="{{ "#pitch" | relURL }}">
            <i class="fas fa-chevron-down"></i>
        </a>
    </div>
</div>
<section class="section has-background-dark" id="pitch">
    <div class="container">
        <h3 class="title is-3">Distributed Systems and Cloud Native Solutions</h3>
        <p class="is-size-5">We live in a global, distributed, and connected world.</p>
        <p class="is-size-5">
           Long gone are the days of copying files into a single server, the best way to expand globally is to scale horizontally.
           Doing so is not easy, that is why I'm focused in solving this problem in a developer-centric, cloud native way
           using modern infrastructure paradigms and development practices.
        </p>
    </div>
</section>
<section class="section has-background-black">
    <div class="container has-text-right">
        <h3 class="title is-3">Infrastructure automation at scale</h3>
        <p class="is-size-5">Let your infrastructure manage itself.</p>
        <p class="is-size-5">
            I design and implement automated infrastructure solutions using open source tools to achieve near-total automation.
            It doesn't matter if they run on-premise, in a private or public cloud, I have experience creating modern,
            self-service deployment platforms where developers can be free to run and monitor their workloads with minimum
            knowledge of the underlying provider.
        </p>
        <p class="is-size-5">Stop worrying and start deploying!</p>
    </div>
</section>
<section class="section has-background-dark">
    <div class="container">
        <h3 class="title is-3">Containers, containers everywhere</h3>
        <p class="is-size-5">Containers are the single best thing ever since chocolate chips cookies and functional
            programming.</p>
        <p class="is-size-5">
            I love everything related to containers, and interact on a daily basis with orchestration platforms and
            automation systems based on <a href="https://docker.com" target="_blank" rel="noopener">Docker</a>.<br />
            From my development laptop to <a href="https://kubernetes.io" target="_blank" rel="noopener">Kubernetes</a> in production,
            if it runs in a container, it runs on my machines.
        </p>
    </div>
</section>
<section class="section has-background-black">
    <div class="container has-text-right">
        <h3 class="title is-3">Open security in an open world</h3>
        <p class="is-size-5">Who are you and what do you want? Better yet, how did you get here?</p>
        <p class="is-size-5">
            Authorization and authentication in distributed systems and cloud environments faces new challenges and
            requires new skills.
            Modern protocols like <a href="https://oauth.net/2/" target="_blank" rel="noopener">OAuth 2.0</a> and <a href="https://openid.net/connect/" target="_blank" rel="noopener">OpenID
                Connect</a>
            allow for agile, flexible and privacy-centric interaction between different systems.
        </p>
    </div>
</section>
<section class="section has-background-dark">
    <div class="container">
        <h3 class="title is-3">Be pure, be functional</h3>
        <p class="is-size-5">Don't you like when things are predictable, reproducible, and composable?</p>
        <p class="is-size-5">
            Personally, I do. That's why I love functional programming, coding in languages like <a
                href="https://elixir-lang.org" target="_blank" rel="noopener">Elixir</a>,
            <a href="https://www.erlang.org/" target="_blank" rel="noopener">Erlang</a>, <a href="https://www.rust-lang.org/" target="_blank" rel="noopener">Rust</a>
            and <a href="https://www.haskell.org/" target="_blank" rel="noopener">Haskell</a>.
            Chainable, reusable, and deterministic functions give me goosebumps everytime.
        </p>
        <p class="is-size-5">Things have never been so pure!</p>
    </div>
</section>
{{ end }}
