{{ $username := .Get "username" }}
{{ $url := printf "https://api.github.com/users/%s/gpg_keys" $username }}

<div class="columns">
  <div class="column is-two-thirds">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="field">
          <div class="control">
            <button class="level-item button is-link" id="copy-pk">Copy To Clipboard</button>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <textarea class="textarea has-text-white has-background-dark" style="min-height: 50vh;" value="Public Key"
          onclick="this.focus(); this.select();" id="pgp-pk" data-pgp-url="{{ $url }}" readonly></textarea>
      </div>
    </div>
  </div>
  <div class="column is-one-third">
  </div>
</div>


{{ define "scripts" }}
{{ $js := resources.Get "js/pgp.js" }}
{{ if not .Site.IsServer }}
{{ $js = $js | minify | fingerprint}}
{{ end }}
<script src="{{ $js.Permalink }}" defer async></script>
{{ end }}